# Lines Analysis

## Import

In [1]:
import os
import uuid

import numpy as np
import pandas as pd

import janitor

## Constants

In [2]:
scores = ['GOAL', 'SCORED_ON', 'CALLAHAN', 'CALLAHAN_THROWN']
we_score = ['GOAL', 'CALLAHAN']
they_score = ['SCORED_ON', 'CALLAHAN_THROWN']

turnovers = ['THROWAWAY', 'DROP', 'STALL', 'CALLAHAN_THROWN']
takeaways = ['BLOCK', 'CALLAHAN', 'STALL_CAUSED', 'THROWAWAY_CAUSED']

pulls = ['PULL_OUT_OF_BOUNDS', 'PULL_INBOUNDS']

pens = ['D_PENALTY_ON_THEM', 'D_PENALTY_ON_US', 'O_PENALTY_ON_THEM', 'O_PENALTY_ON_US']

quarter_ends = ['START_OF_GAME', 'END_OF_Q1', 'HALFTIME', 'END_OF_Q3', 'GAME_OVER']

line_sets = ['SET_D_LINE', 'SET_O_LINE', 'SET_D_LINE_NO_PULL', 'SET_O_LINE_NO_PULL']
o_lines = ['SET_O_LINE', 'SET_O_LINE_NO_PULL']
d_lines = ['SET_D_LINE', 'SET_D_LINE_NO_PULL']

timeouts = ['THEIR_MIDPOINT_TIMEOUT', 'OUR_MIDPOINT_TIMEOUT']

other = ['REF_TIMEOUT_DISCUSSION???', 'INJURY_ON_O', 'INJURY_ON_D']

## Analysis

### File IO

In [3]:
df = pd.read_csv("Flyers_Games.csv").rename({"Unnamed: 0" : "event_index"}, axis=1)
df_home = pd.read_csv("Flyers_Games_home.csv").rename({"Unnamed: 0" : "event_index"}, axis=1)
df_away = pd.read_csv("Flyers_Games_away.csv").rename({"Unnamed: 0" : "event_index"}, axis=1)

In [4]:
df = pd.read_csv("All_Games_220806_2200.csv").rename({"Unnamed: 0" : "event_index"}, axis=1)

In [5]:
df.head(35)

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,player,x,y,o_point,d_point,point_id,our_score,their_score,line
0,0,2836,2022-07-02,244,240,0,244,NaN,NaN,NaN,NaN,NaN,NaN,False,False,0,0,0,NaN
1,1,2836,2022-07-02,244,240,1,244,NaN,NaN,NaN,NaN,NaN,NaN,False,False,0,0,0,NaN
2,2,2836,2022-07-02,244,240,2,244,1.0,NaN,START_OF_GAME,NaN,NaN,NaN,False,False,0,0,0,NaN
3,3,2836,2022-07-02,244,240,3,244,1.0,NaN,SET_D_LINE,"Austin Lillis, Eric Witmer, Eric Nardelli, Pau...",NaN,NaN,False,True,1,0,0,"['Austin Lillis', 'Eric Witmer', 'Eric Nardell..."
4,4,2836,2022-07-02,244,240,4,244,1.0,NaN,PULL_INBOUNDS,Paul Owens,-23.98,58.39,False,True,1,0,0,NaN
5,5,2836,2022-07-02,244,240,5,244,1.0,Q1 11:38,SCORED_ON,NaN,NaN,NaN,False,True,1,0,1,NaN
6,6,2836,2022-07-02,244,240,6,244,1.0,NaN,SET_O_LINE,"Dustin Damiano, Greg Martin, Sean Mott, Alex T...",NaN,NaN,True,False,2,0,1,"['Dustin Damiano', 'Greg Martin', 'Sean Mott',..."
7,7,2836,2022-07-02,244,240,7,244,1.0,NaN,NaN,NaN,NaN,NaN,True,False,2,0,1,NaN
8,8,2836,2022-07-02,244,240,8,244,1.0,NaN,NaN,NaN,NaN,NaN,True,False,2,0,1,NaN
9,9,2836,2022-07-02,244,240,9,244,1.0,NaN,POSSESSION,Alex Thorne,5.24,52.71,True,False,2,0,1,NaN
10,10,2836,2022-07-02,244,240,10,244,1.0,NaN,THROWAWAY,NaN,25.35,105.14,True,False,2,0,1,NaN
11,11,2836,2022-07-02,244,240,11,244,1.0,NaN,THROWAWAY_CAUSED,NaN,NaN,NaN,True,False,2,0,1,NaN
12,12,2836,2022-07-02,244,240,12,244,1.0,NaN,POSSESSION,Sean Mott,5.24,100.00,True,False,2,0,1,NaN
13,13,2836,2022-07-02,244,240,13,244,1.0,Q1 10:49,GOAL,Dmitry Suvorov,22.51,104.34,True,False,2,1,1,NaN
14,14,2836,2022-07-02,244,240,14,244,1.0,NaN,SET_D_LINE,"Matt Hanna, Matt Esser, Eric Witmer, Nate Litt...",NaN,NaN,False,True,3,1,1,"['Matt Hanna', 'Matt Esser', 'Eric Witmer', 'N..."
15,15,2836,2022-07-02,244,240,15,244,1.0,NaN,PULL_INBOUNDS,Matt Esser,-6.64,90.14,False,True,3,1,1,NaN
16,16,2836,2022-07-02,244,240,16,244,1.0,Q1 10:30,SCORED_ON,NaN,NaN,NaN,False,True,3,1,2,NaN
17,17,2836,2022-07-02,244,240,17,244,1.0,NaN,SET_O_LINE,"Greg Martin, Dustin Damiano, James Pollard, An...",NaN,NaN,True,False,4,1,2,"['Greg Martin', 'Dustin Damiano', 'James Polla..."
18,18,2836,2022-07-02,244,240,18,244,1.0,NaN,POSSESSION,Anthony Prato,8.67,29.92,True,False,4,1,2,NaN
19,19,2836,2022-07-02,244,240,19,244,1.0,NaN,POSSESSION,James Pollard,12.60,43.54,True,False,4,1,2,NaN
20,20,2836,2022-07-02,244,240,20,244,1.0,NaN,POSSESSION,Anthony Prato,0.07,42.45,True,False,4,1,2,NaN
21,21,2836,2022-07-02,244,240,21,244,1.0,NaN,POSSESSION,Greg Martin,-8.89,47.54,True,False,4,1,2,NaN
22,22,2836,2022-07-02,244,240,22,244,1.0,NaN,POSSESSION,Anthony Prato,-0.22,41.79,True,False,4,1,2,NaN
23,23,2836,2022-07-02,244,240,23,244,1.0,NaN,POSSESSION,Brandon Pastor,-1.46,50.97,True,False,4,1,2,NaN
24,24,2836,2022-07-02,244,240,24,244,1.0,NaN,POSSESSION,Anthony Prato,-9.48,44.92,True,False,4,1,2,NaN
25,25,2836,2022-07-02,244,240,25,244,1.0,NaN,POSSESSION,James Pollard,-13.85,95.97,True,False,4,1,2,NaN
26,26,2836,2022-07-02,244,240,26,244,1.0,Q1 09:42,GOAL,Greg Martin,-22.66,103.98,True,False,4,2,2,NaN
27,27,2836,2022-07-02,244,240,27,244,1.0,NaN,SET_D_LINE,"Gavin Abrahamsson, Eric Nardelli, Paul Owens, ...",NaN,NaN,False,True,5,2,2,"['Gavin Abrahamsson', 'Eric Nardelli', 'Paul O..."
28,28,2836,2022-07-02,244,240,28,244,1.0,NaN,PULL_INBOUNDS,Paul Owens,-5.40,83.81,False,True,5,2,2,NaN
29,29,2836,2022-07-02,244,240,29,244,1.0,NaN,THROWAWAY_CAUSED,NaN,NaN,NaN,False,True,5,2,2,NaN
30,30,2836,2022-07-02,244,240,30,244,1.0,NaN,POSSESSION,Austin Lillis,-7.07,31.45,False,True,5,2,2,NaN
31,31,2836,2022-07-02,244,240,31,244,1.0,NaN,POSSESSION,Eric Witmer,-9.40,46.89,False,True,5,2,2,NaN
32,32,2836,2022-07-02,244,240,32,244,1.0,NaN,POSSESSION,Paul Owens,3.27,41.14,False,True,5,2,2,NaN
33,33,2836,2022-07-02,244,240,33,244,1.0,NaN,POSSESSION,Mike Campanella,12.60,39.39,False,True,5,2,2,NaN
34,34,2836,2022-07-02,244,240,34,244,1.0,NaN,POSSESSION,Gavin Abrahamsson,19.81,42.59,False,True,5,2,2,NaN

### Cleaning

In [6]:
df['is_home'] = df['home_team'] == df['team_id']
df['is_away'] = df['away_team'] == df['team_id']

df["game_point_id"] = df["game_id"]*1000 + df["point_id"]

df['player'] = np.where(df['event_type'].isin(line_sets), df['player'], "")

df['home_score']  = np.where((df['is_home']) & (df['event_type'].isin(we_score)), 1, 0)
df['away_score']  = np.where((df['is_away']) & (df['event_type'].isin(we_score)), 1, 0)

### LINES

In [7]:
all_lines = df.loc[df['event_type'].isin(line_sets)].copy()

# How many lines are there per point
all_lines['line_number_in_point'] = all_lines.groupby('game_point_id')['event_counter'].cumcount()
print("Max Number of Lines in a point:", all_lines['line_number_in_point'].unique().max())

# Make Line ID within point within game
# Multiply by 10 is safe
all_lines['game_point_line_id'] = all_lines['game_point_id']*10 + all_lines['line_number_in_point']

Max Number of Lines in a point: 10

In [8]:
all_lines.columns

Index(['event_index', 'game_id', 'date', 'home_team', 'away_team',
       'event_counter', 'team_id', 'current_quarter', 'time', 'event_type',
       'player', 'x', 'y', 'o_point', 'd_point', 'point_id', 'our_score',
       'their_score', 'line', 'is_home', 'is_away', 'game_point_id',
       'home_score', 'away_score', 'line_number_in_point',
       'game_point_line_id'],
      dtype='object')

[x.strip() for x in all_lines['player'].iloc[0].split(",")]

all_lines['player2'] = all_lines['player'].str.split(",")

all_lines['player3'] = [[x.strip() for x in y] for y in all_lines['player2']]

all_lines['player4'].iloc[0]

In [9]:
# Players in each line
all_lines.drop(all_lines.loc[all_lines['player'].isna()].index, inplace=True)
all_lines['line_players_original'] = [[x.strip() for x in y[:-1]] for y in all_lines['player'].str.split(",")]
all_lines['line_players'] = all_lines['line_players_original'].apply(lambda x: sorted(x))

all_lines['line_players'].value_counts()

[Cameron Brock, Carter Rae, Jeremy Keusch, Keegan North, Levi Jacobs, Lucas Coniaris, Rick Gross]                       59
[Benjamin Sokolowsky, Chris Lung, Justin Norden, Matthew Kissmann, Max Williams, Morgan Sommer, Robert Yeagle]          56
[Alex Davis, Eric Taylor, Henry Fisher, Jacob Fairfax, Matt Gouchoe-Hanas, Sol Yanuck, Terrence Mitchell]               50
[Jakob Brissette, Kevin Quinlan, Malik Auger-Semmar, Miguel Goderre, Nabil Chaouch, Quentin Bonnaud, Thomas Duplaix]    30
[Daniel Brunker, Danny Landesman, Jonathan Nethercutt, Matt Jackson, Nathan Buchholz, Quinn Finer, Thomas Brewster]     29
                                                                                                                        ..
[Cody Spicer, Conor Tabor, Danny Landesman, Jonathan Nethercutt, Matt Jackson, Quinn Finer, Thomas Brewster]             1
[Asher Lantz, Charlie Furse, Jace Bruner, Jason Vallee, John Jones, Matt Jaffe, Nick Pappas]                             1
[Asher Lantz, Jack Shanahan, Mica Glass, Nick Pappas, Pawel Janas, Ross Barker, Sam Kaminsky]                            1
[Asher Lantz, Cal Tornabene, Jason Vallee, Joe Cercello, Mica Glass, Reid Martin, Ross Barker]                           1
[AJ Merriman, Christian Boxley, Frederick Farah, Gabe Webster, Jacques Nissen, Moussa Dia, Rhys Bergeron]                1
Name: line_players, Length: 3183, dtype: int64

In [10]:
# ID for each unique line
deduped_lines = all_lines['line_players'].drop_duplicates()
deduped_idx = deduped_lines.index

df_line_ids = pd.concat([all_lines.loc[deduped_idx, 'team_id'], deduped_lines], axis=1).reset_index(drop=True)
df_line_ids['line_id'] = df['team_id']*10000 + df_line_ids.groupby('team_id')['line_players'].transform('cumcount')
df_line_ids['line_id'] = df_line_ids['line_id'].astype(int)
df_line_ids

      team_id                                       line_players  line_id
0         244  [Austin Lillis, Eric Nardelli, Eric Witmer, Ga...  2440000
1         244  [Alex Thorne, Anthony Prato, Dmitry Suvorov, D...  2440001
2         244  [Adam Grossberg, Eric Witmer, Marc Sands, Matt...  2440002
3         244  [Alex Thorne, Anthony Prato, Brandon Pastor, D...  2440003
4         244  [Adam Grossberg, Eric Witmer, Marc Sands, Matt...  2440004
...       ...                                                ...      ...
3178      240  [AJ Merriman, Alexandre Fall, David Bloodgood,...  2410192
3179      240  [AJ Merriman, Alexandre Fall, David Bloodgood,...  2410193
3180      240  [AJ Merriman, Alexandre Fall, David Bloodgood,...  2410194
3181      240  [AJ Merriman, Alexandre Fall, David Bloodgood,...  2410195
3182      240  [AJ Merriman, Christian Boxley, Frederick Fara...  2410196

[3183 rows x 3 columns]

In [11]:
# Need to get line ids
df_line_sets = all_lines.loc[:, ['team_id', 'game_id', 'line_players']]

# result = df.a.sort_values().apply(lambda x: sorted(x))

df_line_sets['sorted_line_players'] = df_line_sets['line_players'].apply(lambda x: sorted(x))
split_series = df_line_sets.sorted_line_players.apply(lambda x:pd.Series(str(x).replace("[", "").replace("]", "").split(",")))
print(split_series.shape)
split_series.drop_duplicates()

# ser = pd.get_dummies(df_line_sets['line_players'])

(6950, 7)

,0,1,2,3,4,5,6
3,'Austin Lillis','Eric Nardelli','Eric Witmer','Gavin Abrahamsson','Mike Campanella','Paul Owens','Scott Heyman'
6,'Alex Thorne','Anthony Prato','Dmitry Suvorov','Dustin Damiano','Greg Martin','James Pollard','Sean Mott'
14,'Adam Grossberg','Eric Witmer','Marc Sands','Matt Esser','Matt Hanna','Nate Little','Paul Owens'
17,'Alex Thorne','Anthony Prato','Brandon Pastor','Dustin Damiano','Greg Martin','James Pollard','Sean Mott'
52,'Adam Grossberg','Eric Witmer','Marc Sands','Matt Esser','Matt Hanna','Nate Little','Scott Heyman'
...,...,...,...,...,...,...,...
60456,'AJ Merriman','Alexandre Fall','David Bloodgood','Isaac Lee','Kyle Vezina','Rhys Bergeron','Tyler Monroe'
60465,'AJ Merriman','Alexandre Fall','David Bloodgood','Isaac Lee','Jasper Tom','Marcus Thaw','Moussa Dia'
60481,'AJ Merriman','Alexandre Fall','David Bloodgood','Frederick Farah','Jasper Tom','Moussa Dia','Rhys Bergeron'
60512,'AJ Merriman','Alexandre Fall','David Bloodgood','Isaac Lee','Kevin Healey','Marcus Thaw','Moussa Dia'
60525,'AJ Merriman','Christian Boxley','Frederick Farah','Gabe Webster','Jacques Nissen','Moussa Dia','Rhys Bergeron'

In [12]:
df_line_sets = df_line_sets.merge(
    split_series, left_index=True, 
    right_index=True, copy=True
)

df_line_sets['line_id'] = [uuid.uuid4() for _ in range(len(df_line_sets.index))]

In [13]:
# Last Line on for each point
last_line_by_point_idx = all_lines.groupby(['game_point_id', 'team_id'], sort=False)['game_point_line_id'].transform('max') == all_lines['game_point_line_id']
last_lines = all_lines.loc[last_line_by_point_idx].sort_values('game_point_id')
# last_lines.sort_values(['game_point_id', 'game_point_line_id']).head(5)

all_lines = all_lines.merge(last_lines.loc[:, 'game_point_line_id'], how='left', on='game_point_line_id', indicator=True)
all_lines['is_last_line'] = all_lines['_merge'] == 'both'
del all_lines['_merge']

In [14]:
home_lines = all_lines.loc[all_lines['is_home'] == True].copy()
away_lines = all_lines.loc[all_lines['is_home'] == False].copy()

In [15]:
all_lines.columns

Index(['event_index', 'game_id', 'date', 'home_team', 'away_team',
       'event_counter', 'team_id', 'current_quarter', 'time', 'event_type',
       'player', 'x', 'y', 'o_point', 'd_point', 'point_id', 'our_score',
       'their_score', 'line', 'is_home', 'is_away', 'game_point_id',
       'home_score', 'away_score', 'line_number_in_point',
       'game_point_line_id', 'line_players_original', 'line_players',
       'is_last_line'],
      dtype='object')

In [16]:
keep_cols_a = [
    'date', 'game_id', 'game_point_id', 'game_point_line_id', 
    'home_team', 'away_team', 'team_id', 'current_quarter',
    'event_type', 'o_point', 'd_point', 'point_id',
    'our_score', 'their_score', 'is_home', 'is_away', 'line_players',
    'is_last_line', 'line_number_in_point'
]

keep_cols_b = ['game_point_id', 'game_point_line_id', 'team_id', 'line_players', 'event_type', 'is_last_line']

rename_cols_a = {
    'team_id': 'team_id_a',
    'is_home': 'is_home_a',
    'is_away': 'is_away_a',
    'game_point_line_id': 'line_id_a',
    'line_players': 'line_players_a',
    'is_last_line': 'is_last_line_a',
    'our_score': 'our_score_point_start',
    'their_score': 'their_score_point_start',
    'event_type': 'line_set_type_a',
    'o_point': 'o_point_a'
}

rename_cols_b = {
    'team_id': 'team_id_b',
    'game_point_line_id': 'line_id_b',
    'line_players': 'line_players_b',
    'is_last_line': 'is_last_line_b',
    'event_type': 'line_set_type_b',
}

final_lines = home_lines.loc[:, keep_cols_a].rename(rename_cols_a, axis=1).merge(
    away_lines.loc[:, keep_cols_b].rename(rename_cols_b, axis=1),
    how='outer',
    on='game_point_id',
    indicator=True,
    copy=True
)
del final_lines['_merge']
print(final_lines.shape)
final_lines.head()

(4443, 24)

,date,game_id,game_point_id,line_id_a,home_team,away_team,team_id_a,current_quarter,line_set_type_a,o_point_a,...,is_home_a,is_away_a,line_players_a,is_last_line_a,line_number_in_point,line_id_b,team_id_b,line_players_b,line_set_type_b,is_last_line_b
0,2022-07-02,2836.0,2836001,28360010.0,244.0,240.0,244.0,1.0,SET_D_LINE,False,...,True,False,"[Austin Lillis, Eric Nardelli, Eric Witmer, Ga...",True,0.0,28360011.0,240.0,"[Christian Boxley, Jacques Nissen, Jonny Malks...",SET_O_LINE,True
1,2022-07-02,2836.0,2836002,28360020.0,244.0,240.0,244.0,1.0,SET_O_LINE,True,...,True,False,"[Alex Thorne, Anthony Prato, Dmitry Suvorov, D...",True,0.0,28360021.0,240.0,"[AJ Merriman, Aaron Bartlett, Alexandre Fall, ...",SET_D_LINE,True
2,2022-07-02,2836.0,2836003,28360030.0,244.0,240.0,244.0,1.0,SET_D_LINE,False,...,True,False,"[Adam Grossberg, Eric Witmer, Marc Sands, Matt...",True,0.0,28360031.0,240.0,"[Christian Boxley, Jacques Nissen, Jeremy Knop...",SET_O_LINE,True
3,2022-07-02,2836.0,2836004,28360040.0,244.0,240.0,244.0,1.0,SET_O_LINE,True,...,True,False,"[Alex Thorne, Anthony Prato, Brandon Pastor, D...",True,0.0,28360041.0,240.0,"[Aaron Bartlett, Brandon Lamberty, David Blood...",SET_D_LINE,True
4,2022-07-02,2836.0,2836005,28360050.0,244.0,240.0,244.0,1.0,SET_D_LINE,False,...,True,False,"[Austin Lillis, Eric Nardelli, Eric Witmer, Ga...",True,0.0,28360051.0,240.0,"[Christian Boxley, Jacques Nissen, Jeremy Knop...",SET_O_LINE,True

In [17]:
df_quarter_ends = df.loc[(df['event_type'].isin(quarter_ends))].copy()
df_quarter_ends.shape
df_quarter_ends.head()

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,...,d_point,point_id,our_score,their_score,line,is_home,is_away,game_point_id,home_score,away_score
2,2,2836,2022-07-02,244,240,2,244,1.0,NaN,START_OF_GAME,...,False,0,0,0,NaN,True,False,2836000,0,0
109,109,2836,2022-07-02,244,240,109,244,2.0,NaN,END_OF_Q1,...,True,12,6,5,NaN,True,False,2836012,0,0
211,211,2836,2022-07-02,244,240,211,244,3.0,NaN,HALFTIME,...,True,22,10,11,NaN,True,False,2836022,0,0
326,326,2836,2022-07-02,244,240,326,244,4.0,NaN,END_OF_Q3,...,False,31,14,15,NaN,True,False,2836031,0,0
439,439,2836,2022-07-02,244,240,439,244,4.0,NaN,GAME_OVER,...,False,46,21,22,NaN,True,False,2836046,0,0

### POINTS

In [18]:
df_scores = df.loc[(df['event_type'].isin(we_score))].copy()

df_scores['scoring_team'] = df_scores['team_id']
# df_scores = df.loc[(df['event_type'] == 'GOAL') | (df['event_type'] == 'CALLAHAN')].copy()
df_scores.sort_values('game_point_id').head(10)

,event_index,game_id,date,home_team,away_team,event_counter,team_id,current_quarter,time,event_type,...,point_id,our_score,their_score,line,is_home,is_away,game_point_id,home_score,away_score,scoring_team
32411,7,2807,2022-07-02,243,247,7,247,1.0,Q1 11:25,GOAL,...,1,1,0,NaN,False,True,2807001,0,1,247
32431,27,2807,2022-07-02,243,247,27,247,1.0,Q1 09:29,GOAL,...,2,2,0,NaN,False,True,2807002,0,1,247
1867,29,2807,2022-07-02,243,247,29,243,1.0,Q1 08:45,GOAL,...,3,1,2,NaN,True,False,2807003,1,0,243
32450,46,2807,2022-07-02,243,247,46,247,1.0,Q1 07:38,GOAL,...,4,3,1,NaN,False,True,2807004,0,1,247
32457,53,2807,2022-07-02,243,247,53,247,1.0,Q1 05:56,GOAL,...,5,4,1,NaN,False,True,2807005,0,1,247
32465,61,2807,2022-07-02,243,247,61,247,1.0,Q1 04:43,GOAL,...,6,5,1,NaN,False,True,2807006,0,1,247
1910,72,2807,2022-07-02,243,247,72,243,1.0,Q1 03:51,GOAL,...,7,2,5,NaN,True,False,2807007,1,0,243
1928,90,2807,2022-07-02,243,247,90,243,1.0,Q1 01:42,GOAL,...,8,3,5,NaN,True,False,2807008,1,0,243
32488,84,2807,2022-07-02,243,247,84,247,1.0,Q1 01:32,GOAL,...,9,6,3,NaN,False,True,2807009,0,1,247
1942,104,2807,2022-07-02,243,247,104,243,1.0,Q1 00:51,GOAL,...,10,4,6,NaN,True,False,2807010,1,0,243

In [19]:
df_scores.columns

Index(['event_index', 'game_id', 'date', 'home_team', 'away_team',
       'event_counter', 'team_id', 'current_quarter', 'time', 'event_type',
       'player', 'x', 'y', 'o_point', 'd_point', 'point_id', 'our_score',
       'their_score', 'line', 'is_home', 'is_away', 'game_point_id',
       'home_score', 'away_score', 'scoring_team'],
      dtype='object')

In [20]:
score_keep_cols = [
     'game_point_id', 'time', 'event_type', 'o_point', 'is_home', 'is_away', 
    'our_score', 'their_score', 'scoring_team', 'home_score', 'away_score'
]

score_rename_cols = {
    'event_type': 'score_type',
    'time': 'time_of_score',
    'our_score': 'our_score_point_end',
    'their_score': 'their_score_point_end',
    'home_score': 'home_team_scored', 
    'away_score': 'away_team_scored'
}
final_scores = df_scores.loc[:, score_keep_cols].rename(score_rename_cols, axis=1).sort_values('game_point_id')

### FINAL DF

In [21]:
df_final = final_lines.merge(
    final_scores,
    on='game_point_id',
    how='outer',
    indicator=True,
    copy=True
)

df_final.head(10)
df_final._merge.value_counts()

both          4085
left_only      390
right_only       0
Name: _merge, dtype: int64

# Manual Checking the weird merges
check = 14

left_only_ids = list(df_final.loc[df_final['_merge'] == "left_only", 'game_point_id'].values)
print(len(left_only_ids))

df.loc[df['game_point_id'] == (left_only_ids[check])]

In [22]:
df_final.columns

Index(['date', 'game_id', 'game_point_id', 'line_id_a', 'home_team',
       'away_team', 'team_id_a', 'current_quarter', 'line_set_type_a',
       'o_point_a', 'd_point', 'point_id', 'our_score_point_start',
       'their_score_point_start', 'is_home_a', 'is_away_a', 'line_players_a',
       'is_last_line_a', 'line_number_in_point', 'line_id_b', 'team_id_b',
       'line_players_b', 'line_set_type_b', 'is_last_line_b', 'time_of_score',
       'score_type', 'o_point', 'is_home', 'is_away', 'our_score_point_end',
       'their_score_point_end', 'scoring_team', 'home_team_scored',
       'away_team_scored', '_merge'],
      dtype='object')

# NOT SURE WHY THIS BREAKS BUT IT DOES

df_final.loc[df_final['line_set_type_a'].str.contains("O_LINE"), ['game_point_id', 'home_team', 'away_team', 'team_id_a', 'o_point_a']]

In [23]:
cols = [
    'date', 'game_id', 'home_team', 'away_team', 'game_point_id', 
    'current_quarter', 'time_of_score',
    'team_id_a', 'line_id_a', 'line_players_a', 'line_set_type_a', 'is_last_line_a', 'is_home_a', 'o_point_a',
    'team_id_b', 'line_id_b', 'line_players_b', 'line_set_type_b', 'is_last_line_b',
    'our_score_point_start',
    'their_score_point_start', 'our_score_point_end', 'their_score_point_end',
    'home_team_scored', 'away_team_scored',
    'scoring_team', 'score_type'
]

final_rename = {
    'our_score_point_start': 'team_a_score_point_start',
    'their_score_point_start': 'team_b_score_point_start'
}

leftover = [x for x in df_final.columns if x not in cols]
leftover

['d_point',
 'point_id',
 'is_away_a',
 'line_number_in_point',
 'o_point',
 'is_home',
 'is_away',
 '_merge']

df_final.iloc[35]

df_final[['game_point_id', 'home_team', 'line_set_type_a',
       'away_team', 'team_id_a','o_point_a', 'o_point']].head(10)

In [24]:
df_final['team_a_scored'] = (df_final['scoring_team'] == df_final['team_id_a']) & df_final['score_type'].notna()
df_final['team_b_scored'] = (df_final['scoring_team'] == df_final['team_id_b']) & df_final['score_type'].notna()

cols.remove('home_team_scored')
cols.remove('away_team_scored')
cols.remove('our_score_point_end')
cols.remove('their_score_point_end')

cols.append('team_a_scored')
cols.append('team_b_scored')
cols

['date',
 'game_id',
 'home_team',
 'away_team',
 'game_point_id',
 'current_quarter',
 'time_of_score',
 'team_id_a',
 'line_id_a',
 'line_players_a',
 'line_set_type_a',
 'is_last_line_a',
 'is_home_a',
 'o_point_a',
 'team_id_b',
 'line_id_b',
 'line_players_b',
 'line_set_type_b',
 'is_last_line_b',
 'our_score_point_start',
 'their_score_point_start',
 'scoring_team',
 'score_type',
 'team_a_scored',
 'team_b_scored']

In [25]:
df_output = df_final.loc[:, cols].rename(final_rename, axis=1)
df_output.columns

Index(['date', 'game_id', 'home_team', 'away_team', 'game_point_id',
       'current_quarter', 'time_of_score', 'team_id_a', 'line_id_a',
       'line_players_a', 'line_set_type_a', 'is_last_line_a', 'is_home_a',
       'o_point_a', 'team_id_b', 'line_id_b', 'line_players_b',
       'line_set_type_b', 'is_last_line_b', 'team_a_score_point_start',
       'team_b_score_point_start', 'scoring_team', 'score_type',
       'team_a_scored', 'team_b_scored'],
      dtype='object')

In [26]:
len(df_output['home_team'].value_counts().sort_index())
df_output.shape

(4475, 25)

In [27]:
df_output.head()

,date,game_id,home_team,away_team,game_point_id,current_quarter,time_of_score,team_id_a,line_id_a,line_players_a,...,line_id_b,line_players_b,line_set_type_b,is_last_line_b,team_a_score_point_start,team_b_score_point_start,scoring_team,score_type,team_a_scored,team_b_scored
0,2022-07-02,2836.0,244.0,240.0,2836001,1.0,Q1 11:38,244.0,28360010.0,"[Austin Lillis, Eric Nardelli, Eric Witmer, Ga...",...,28360011.0,"[Christian Boxley, Jacques Nissen, Jonny Malks...",SET_O_LINE,True,0.0,0.0,240.0,GOAL,False,True
1,2022-07-02,2836.0,244.0,240.0,2836002,1.0,Q1 10:49,244.0,28360020.0,"[Alex Thorne, Anthony Prato, Dmitry Suvorov, D...",...,28360021.0,"[AJ Merriman, Aaron Bartlett, Alexandre Fall, ...",SET_D_LINE,True,0.0,1.0,244.0,GOAL,True,False
2,2022-07-02,2836.0,244.0,240.0,2836003,1.0,Q1 10:30,244.0,28360030.0,"[Adam Grossberg, Eric Witmer, Marc Sands, Matt...",...,28360031.0,"[Christian Boxley, Jacques Nissen, Jeremy Knop...",SET_O_LINE,True,1.0,1.0,240.0,GOAL,False,True
3,2022-07-02,2836.0,244.0,240.0,2836004,1.0,Q1 09:42,244.0,28360040.0,"[Alex Thorne, Anthony Prato, Brandon Pastor, D...",...,28360041.0,"[Aaron Bartlett, Brandon Lamberty, David Blood...",SET_D_LINE,True,1.0,2.0,244.0,GOAL,True,False
4,2022-07-02,2836.0,244.0,240.0,2836005,1.0,Q1 06:56,244.0,28360050.0,"[Austin Lillis, Eric Nardelli, Eric Witmer, Ga...",...,28360051.0,"[Christian Boxley, Jacques Nissen, Jeremy Knop...",SET_O_LINE,True,2.0,2.0,244.0,GOAL,True,False

In [28]:
df_output.to_csv("Test_Data_220806_2215.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'Test_Data_220806_2215.csv'

(6950, 12)

(6950, 12)

,team_id,game_id,line_players,sorted_line_players,0,1,2,3,4,5,6,UUID,uuid
3,244,2836,"[Austin Lillis, Eric Nardelli, Eric Witmer, Ga...","[Austin Lillis, Eric Nardelli, Eric Witmer, Ga...",'Austin Lillis','Eric Nardelli','Eric Witmer','Gavin Abrahamsson','Mike Campanella','Paul Owens','Scott Heyman',1,8aac35b0-39cb-405d-8c07-d972b4d1c3cb
6,244,2836,"[Alex Thorne, Anthony Prato, Dmitry Suvorov, D...","[Alex Thorne, Anthony Prato, Dmitry Suvorov, D...",'Alex Thorne','Anthony Prato','Dmitry Suvorov','Dustin Damiano','Greg Martin','James Pollard','Sean Mott',1,2a55d742-b692-4e09-aac7-b3a9f9259eb3
14,244,2836,"[Adam Grossberg, Eric Witmer, Marc Sands, Matt...","[Adam Grossberg, Eric Witmer, Marc Sands, Matt...",'Adam Grossberg','Eric Witmer','Marc Sands','Matt Esser','Matt Hanna','Nate Little','Paul Owens',1,8fcc7831-ac66-4126-a445-fc2984ebd388
17,244,2836,"[Alex Thorne, Anthony Prato, Brandon Pastor, D...","[Alex Thorne, Anthony Prato, Brandon Pastor, D...",'Alex Thorne','Anthony Prato','Brandon Pastor','Dustin Damiano','Greg Martin','James Pollard','Sean Mott',1,fa9f2b77-ebdc-4f56-9bf3-e870a06175ee
27,244,2836,"[Austin Lillis, Eric Nardelli, Eric Witmer, Ga...","[Austin Lillis, Eric Nardelli, Eric Witmer, Ga...",'Austin Lillis','Eric Nardelli','Eric Witmer','Gavin Abrahamsson','Mike Campanella','Paul Owens','Scott Heyman',1,5f2d2608-dc8a-4805-8153-69c7f35263ee
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60512,240,2832,"[AJ Merriman, Alexandre Fall, David Bloodgood,...","[AJ Merriman, Alexandre Fall, David Bloodgood,...",'AJ Merriman','Alexandre Fall','David Bloodgood','Isaac Lee','Kevin Healey','Marcus Thaw','Moussa Dia',1,512a37d4-c096-4fdc-b5db-4723833fa607
60525,240,2832,"[AJ Merriman, Christian Boxley, Frederick Fara...","[AJ Merriman, Christian Boxley, Frederick Fara...",'AJ Merriman','Christian Boxley','Frederick Farah','Gabe Webster','Jacques Nissen','Moussa Dia','Rhys Bergeron',1,55f5acde-fbed-474a-870e-256e1d1e39eb
60535,240,2832,"[Christian Boxley, Jeff Wodatch, Jeremy Knopf,...","[Christian Boxley, Jeff Wodatch, Jeremy Knopf,...",'Christian Boxley','Jeff Wodatch','Jeremy Knopf','Jonny Malks','Rowan McDonnell','Steven Wartinbee','Tyler Monroe',1,754384b2-cec9-4167-b937-09a64528059b
60566,240,2832,"[AJ Merriman, Alexandre Fall, David Bloodgood,...","[AJ Merriman, Alexandre Fall, David Bloodgood,...",'AJ Merriman','Alexandre Fall','David Bloodgood','Frederick Farah','Gabe Webster','Isaac Lee','Rhys Bergeron',1,dc691805-f8d9-47b1-b2c0-fbc670c1c5d9
60569,240,2832,"[Christian Boxley, Jacques Nissen, Jeff Wodatc...","[Christian Boxley, Jacques Nissen, Jeff Wodatc...",'Christian Boxley','Jacques Nissen','Jeff Wodatch','Jonny Malks','Kevin Healey','Steven Wartinbee','Tyler Monroe',1,03612380-63bf-4b5a-8c7c-165bb742b839

In [ ]:
# Making sure there are only 41 times no one scored
df_output.loc[(df_output['team_a_scored'] == False) & (df_output['team_b_scored'] == False)].shape

In [ ]:
df['event_type'].unique()

df['game_point_id'] = df['game_id'].astype(str) + "_" + df['point_id'].astype(str)
df['home_score']  = np.where((df['home_team'] == df['team_id']) & (df['event_type'].isin(we_score)), 1, 0)
df['away_score']  = np.where((df['away_team'] == df['team_id']) & (df['event_type'].isin(we_score)), 1, 0)
              
df['home_score_this_point'] = df.groupby('game_point_id')['home_score'].transform(sum)
df['away_score_this_point'] = df.groupby('game_point_id')['away_score'].transform(sum)